$gray-semi-light: lighten($gray-base, 70%);

.container-auth {
  // TODO: center everything in middle of page
  background-image: url('../static/gplaypattern/gplaypattern.png');
  display: table;
  // background-image: url('/static/gplaypattern/pattern-bright.png');
  height: 100%;
  width: 100%;

  .header {
    span {
      font-weight: lighter;
      font-size: 50px;
      font-weight: lighter;
      letter-spacing: -3px;
      color: rgb(72, 72, 72);

      &.version {
        text-transform: none;
        font-size: 12px;
        letter-spacing: normal;
        display: block;
        color: #B3B3B3;
        text-shadow: none;
      }
    }
    img {
      vertical-align: text-bottom;
      height: 40px;
    }
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .box {
    margin-bottom: 20px;
    background-color: $body-bg;
    border: 1px solid $gray-lighter;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    padding: 15px;

    h3 {
      font-size: $font-size-h4;
      margin-top: 0;
      margin-bottom: 15px;
      color: #666;
    }
  }

  .container {
    position: relative;
  }

  .splash-links {
    text-align: right;
    .btn {
      color: #666;
    }
  }
}
